@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

#sobre{
    margin-left:10%;
    margin-right: 10%;
}

h2.titulo-sobre{
    font-family: 'Gochi Hand', cursive;
    font-weight: bold;
    font-size: clamp(3rem, 4rem, 5rem);
    text-align: center;
    color: #b3282f;
    margin-bottom: 3%;
    padding-top: 5%;
}

.conteudo-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.foto-laura{
    width: 50%;
}

.biografia{
    padding-left: 3%;
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
    width: 100%;
}

.biografia-texto h3{
    text-align: center;
    color: #b3282f;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
