@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #383838;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 50px;
}

/*banner*/
div.container img {
  display: inline-block;
  position: relative;
  width: 100%;
}

div.container img.banner-mobile {
  display: none;
}

/*navbarmobile*/
div.topnav {
  display: none;
}

ul.navbar {
  position: absolute;
  top: 0%;
  right: 5%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;

  padding-top: 2%;
  padding-bottom: 2%;
}

li {
  list-style: none;
}

a.button {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  padding: 0px 20px 0px 20px;

  text-decoration: none;
}

a.button:hover {
  color: #ff52b4;
}

/*services offered*/
h2.title-of-services {
  font-family: "Nunito", sans-serif;
  font-size: 55px;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
}

div.separe-itens-social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 2% 10% 5% 10%;
}

div.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

div.paragraph p {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ffffff;

  margin-bottom: 35px;
}

a.call-to-action {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  width: 300px;
  background-color: #ff52b4;
  padding: 30px;

  border-radius: 50px;
}

div.bg-photo {
  background-color: #eeeeee;
}

h2.title-photo {
  color: #383838;
  padding-top: 5%;
}

div.separe-itens-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 2% 10% 5% 10%;
}

div.paragraph-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.paragraph-photo p {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ffffff;

  margin-bottom: 35px;
  color: #383838;

  width: 80%;
}

/*contact*/
section#contact {
  background-color: #eeeeee;
}

section#contact h2 {
  font-family: "Nunito", sans-serif;
  font-size: 55px;
  text-align: center;
  color: #383838;

  margin-top: 10%;
  margin-bottom: 5%;
}

div.social-media-links {
  display: flex;
  justify-content: space-evenly;

  margin-left: 15%;
  margin-right: 15%;
}

div.social-media-links a {
  margin-bottom: 10%;
}

div.social-media-links img {
  width: 150px;
  height: 150px;
}

/*about the professional*/
section#about-the-professional img {
  width: 100%;
}

section#about-the-professional img.profile-photo-mobile {
  display: none;
}

/*footer*/
footer p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;

  padding: 2% 0% 2% 0%;
}
