/*desktop*/
@media screen and (min-width: 1024px) and (max-width: 1360px) {
  /*services offered*/
  h2.title-of-services {
    font-size: 40px;
  }

  div.separe-itens-social-media {
    margin: 2% 10% 5% 10%;
  }

  div.paragraph {
    width: 100%;
  }

  div.paragraph p {
    font-size: 23px;
  }

  a.call-to-action {
    width: 250px;
    background-color: #ff52b4;
    padding: 20px;
  }

  div.paragraph-photo p {
    font-size: 23px;
    width: 100%;
  }

  div.separe-itens-photo {
    padding: 2% 10% 5% 10%;
  }

  /*contact*/
  section#contact h2 {
    font-size: 40px;
    margin: 10% 10% 5% 10%;
  }

  div.social-media-links img {
    width: 120px;
    height: 120px;
  }

  /*services - photo*/
  div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  div.card {
    width: 310px;
    height: 420px;
  }

  img.card-img {
    width: 120px;
    height: 120px;
  }

  p.card-title {
    font-size: 20px;
  }

  p.card-description {
    font-size: 16px;
  }

  a.redirect-to-whatsapp {
    width: 180px;
    font-size: 16px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*menu*/
  a.button {
    font-size: 20px;
  }

  /*services offered*/
  h2.title-of-services {
    font-size: 35px;
  }

  div.separe-itens-social-media {
    margin: 2% 10% 5% 10%;
  }

  div.paragraph {
    width: 100%;
  }

  div.paragraph p {
    font-size: 20px;
  }

  a.call-to-action {
    width: 250px;
    font-size: 18px;
    background-color: #ff52b4;
    padding: 20px;
  }

  div.paragraph-photo p {
    font-size: 20px;
    width: 100%;
  }

  div.separe-itens-photo {
    padding: 2% 10% 5% 10%;
  }

  /*contact*/
  section#contact h2 {
    font-size: 35px;
    margin: 10% 10% 5% 10%;
  }

  div.social-media-links img {
    width: 100px;
    height: 100px;
  }

  /*footer*/
  footer p {
    font-size: 15px;
  }

  /*services - photo*/
  a img.return {
    width: 45px;
    height: 45px;
  }

  h1 {
    font-size: 35px;
  }

  div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  div.card {
    width: 310px;
    height: 420px;
  }

  img.card-img {
    width: 120px;
    height: 120px;
  }

  p.card-title {
    font-size: 20px;
  }

  p.card-description {
    font-size: 16px;
  }

  a.redirect-to-whatsapp {
    width: 180px;
    font-size: 16px;
  }
}

/*smartphone*/
@media screen and (max-width: 767px) {
  /*banner*/
  div.container img.banner-internet {
    display: none;
  }

  div.container img.banner-mobile {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  /*menu*/
  nav {
    display: none;
  }

  div.topnav {
    display: flex;
  }

  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #ff52b4;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: #ff52b4;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ff52b4;
    color: #ffffff;
  }

  /* Style the active link (or home/logo) */
  .active {
    height: 20px;
    background-color: #ff52b4;
    color: white;
  }

  h2.title-of-services {
    font-size: 20px;
    margin-top: 1%;
    margin-left: 1%;
    padding-top: 5%;
  }

  div.separe-itens-social-media {
    margin: 5% 5% 10% 5%;
  }

  div.paragraph {
    width: 100%;
  }

  div.paragraph p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  a.call-to-action {
    font-size: 16px;
    width: 220px;
    background-color: #ff52b4;
    padding: 15px;
  }

  h2.title-photo {
    color: #383838;
    padding-top: 10%;
  }

  div.paragraph-photo p {
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
  }

  a.call-to-action-mobile {
    margin-bottom: 10%;
  }

  div.separe-itens-photo {
    padding: 5% 5% 0 5%;
  }

  /*contact*/
  section#contact h2 {
    font-size: 20px;
    margin: 10% 5% 10% 5%;
  }

  div.social-media-links img {
    width: 55px;
    height: 55px;
  }

  /*about the professional*/
  section#about-the-professional img {
    display: none;
  }

  section#about-the-professional img.profile-photo-mobile {
    display: block;
  }

  /*footer*/
  footer p {
    font-size: 12px;
  }

  /*services - photo*/
  a img.return {
    width: 45px;
    height: 45px;
  }

  h1 {
    font-size: 25px;
  }

  div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  div.card {
    width: 310px;
    height: 420px;
  }

  img.card-img {
    width: 120px;
    height: 120px;
  }

  p.card-title {
    font-size: 20px;
  }

  p.card-description {
    font-size: 16px;
  }

  a.redirect-to-whatsapp {
    width: 180px;
    font-size: 16px;
  }
}
