/*desktop*/
@media screen and (min-width: 1024px) and (max-width: 1360px) {
  /*services offered*/
  div.separe-itens-social-media {
    margin: 2% 10% 2% 10%;
  }

  div.paragraph {
    width: 100%;
  }

  div.paragraph p {
    font-size: 23px;
  }

  a.call-to-action {
    width: 250px;
    background-color: #ff52b4;
    padding: 20px;
  }

  div.paragraph-photo p {
    font-size: 23px;
  }

  div.separe-itens-photo {
    padding: 8% 8% 8% 10%;
  }

  /*contact*/
  section#contact h2 {
    font-size: 40px;
    margin: 10% 10% 5% 10%;
  }

  div.social-media-links img {
    width: 120px;
    height: 120px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*menu*/
  a.button {
    font-size: 20px;
  }

  /*services offered*/
  div.illustrations img.icon,
  div.illustrations img {
    display: none;
  }

  div.separe-itens-social-media {
    margin: 2% 10% 2% 10%;
  }

  div.paragraph {
    width: 100%;
  }

  div.paragraph p {
    font-size: 20px;
  }

  a.call-to-action {
    width: 250px;
    background-color: #ff52b4;
    padding: 20px;
  }

  div.paragraph-photo p {
    font-size: 20px;
  }

  div.separe-itens-photo {
    padding: 8% 8% 8% 8%;
  }

  /*contact*/
  section#contact h2 {
    font-size: 35px;
    margin: 10% 10% 5% 10%;
  }

  div.social-media-links img {
    width: 100px;
    height: 100px;
  }

  /*footer*/
  footer p {
    font-size: 15px;
  }
}

/*smartphone*/
@media screen and (max-width: 767px) {
  /*menu*/
  ul.navbar {
    position: absolute;
    top: 0%;
    left: 0%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  a.button {
    font-size: 20px;
    padding: 0px 0px 0px 0px;
  }

  /*services offered*/
  div.illustrations img.icon,
  div.illustrations img {
    display: none;
  }

  div.separe-itens-social-media {
    margin: 8% 5% 8% 5%;
  }

  div.paragraph {
    width: 100%;
  }

  div.paragraph p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  a.call-to-action {
    font-size: 16px;
    width: 220px;
    background-color: #ff52b4;
    padding: 15px;
  }

  div.paragraph-photo p {
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
  }

  div.separe-itens-photo {
    padding: 8% 5% 8% 5%;
  }

  /*contact*/
  section#contact h2 {
    font-size: 20px;
    margin: 8% 10% 5% 10%;
  }

  div.social-media-links img {
    width: 55px;
    height: 55px;
  }

  /*about the professional*/
  section#about-the-professional img {
    display: none;
  }

  section#about-the-professional img.profile-photo-mobile {
    display: block;
  }

  /*footer*/
  footer p {
    font-size: 12px;
  }
}
