@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

h2.sm-planos-servicos{
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  color: #9D4B4E;
  text-align: center;
  margin-bottom: 5%;
}

.servico {
  font-family: "Karla", sans-serif;
  text-align: center;
}

.bronze,
.prata,
.ouro,
.azul {
  font-family: "Karla", sans-serif;
  font-size: 30px;
  text-align: center;
}

div.card{
  background-color:whitesmoke;
  transition: 200ms;
}

div.card:hover{
  cursor: pointer;
  
  box-shadow: 2px 2px 10px  #9D4B4E;
}

.valor {
  padding-bottom: 8%;
}

.bronze {
  color: #ad6d36;
}

.prata {
  color: #6C6C6C;
}

.ouro {
  color: #8F6810;
}

p.ouro-valor{
    margin-bottom: 7px;
}

.azul {
  color: #0052EA;
}

.lista {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.lista li{
    margin-left: 23%;
}

.card-unico {
  display: flex;
  justify-content: center;
}

p.descricao-card {
  text-align: center;
}

span.mentoria {
  font-weight: bold;
}

@media(max-width: 500px){
  h2.sm-planos-servicos{
    font-size: 2rem;
  }
}
